  /* Font */

  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100&family=Source+Sans+Pro:ital,wght@0,300;0,400;1,200;1,300&display=swap');
  * {
      margin: 0;
      padding: 0;
      font-family: 'Roboto', sans-serif;
  }

  body {
      /* width: 100%; */
      background-color: #F7F7F7;
  }

  a {
      cursor: pointer;
  }

  button {
      cursor: pointer;
  }

  ul li {
      list-style: none;
      font-family: 'Source Sans Pro', sans-serif;
      color: #3C3C3C;
  }

  a {
      text-decoration: none;
  }

  h1 {
      font-family: 'Roboto', sans-serif;
  }

  h2 {
      font-family: 'Roboto', sans-serif;
  }

  p {
      font-family: 'Roboto', sans-serif;
      color: #3C3C3C;
  }

  #navbar {
      box-sizing: border-box;
      height: 70px;
      background-color: white;
      width: 100%;
      border-bottom: 1px solid #D3CFCF;
      /* border: 1px solid red; */
  }

  #navbar .container {
      width: 65%;
      display: flex;
      /* border: 1px solid red; */
      margin-left: 350px;
  }

  #navbar .container .logo img {
      /* border: 1px solid red; */
      width: 200px;
      height: 50px;
      margin-top: 10px;
  }

  #navbar .process {
      display: flex;
  }

  #navbar .process img {
      width: 15px;
  }

  #navbar .process p {
      margin: 26px 5px;
      text-transform: uppercase;
      font-size: 12px;
  }

  #navbar .process .cartline {
      margin: 32px 5px;
      width: 120px;
      height: 1px;
      background-color: #5E5D5D;
  }

  /* cart item count */

  .allItems {
      margin: 40px;
      display: flex;
  }

  .leftSide {
      width: 50%;
      /* border: 1px solid blueviolet; */
      margin-left: 10%;
  }

  #cartItem {
      /* border: 1px solid blueviolet; */
      box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
      background-color: white;
      margin: 10px 10px 0px;
      font-size: 25px;
      padding: 15px;
      width: 90%;
  }

  #cart_data {
      /* border: 1px solid blueviolet; */
      box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
      margin: 0px 10px;
      font-size: 15px;
      padding: 15px;
      background-color: white;
      width: 90%;
      height: auto;
  }

  .rightSide {
      /* border: 1px solid blueviolet; */
      margin: 0px 0% 10% 10px;
      width: 23%;
      height: auto;
  }

  #proceedtopay {
      margin: 2px;
      border: 1px solid red;
      font-size: 15px;
      background-color: white;
  }

  #totalAmount {
      background-color: #fff;
      margin: 0px 5px;
      padding: 15px;
      color: #212121;
  }

  #pincode {
      margin: 10px 5px;
      border: 1px solid #fff;
      background-color: #fff;
      color: #212121;
      padding: 10px;
  }

  #coupon {
      background-color: #fff;
      border: 1px solid #fff;
      padding: 10px;
      margin: 10px 5px;
      color: #212121;
  }

  #proceedtopay {
      background-color: rgb(219, 90, 14);
      border: 1px solid rgb(219, 90, 14);
      border: 2px;
      padding: 13px;
      margin: 10px 5px;
      color: #fff;
      font-size: 16px;
      text-align: center;
      width: 98%;
  }

  #order {
      background-color: rgb(219, 254, 255);
      margin: 10px 5px 0px;
      padding: 13px;
      font-size: 18px;
  }

  #shipping {
      background-color: #fff;
      margin: 0px 5px;
      padding: 15px;
      color: #212121;
  }

  #cart_data div {
      display: grid;
      grid-template-columns: 20% 70%;
      grid-gap: 10%;
      background-color: white;
      margin: 10px auto;
      padding: 10px;
  }

  #cart_data>div:hover {
      box-shadow: 0px 0px 18px rgba(33, 33, 33, .2);
  }

  #cart_data>div>span {
      display: grid
  }

  #cart_data div p {
      font-weight: 600;
      font-size: 18px;
  }

  .quantity_btn {
      width: 20px;
      height: 20px;
      color: blue;
  }

  #appCode {
      cursor: pointer;
  }

  #code_Box {
      position: absolute;
      top: 25%;
      left: 83%;
      width: 200px;
      height: 153px;
      background-color: #db5a0e;
      color: white;
      display: none;
      align-items: center;
      flex-direction: column;
      row-gap: 15px;
  }
  #code_Box>input {
     width: 90%;
     height: 35px;
     box-sizing: border-box;

  }
  #code_Box>button {
     width: 90%;
     height: 35px;
     box-sizing: border-box;


  }

  

  #apply {
      border: none;
      background: blue;
      color: white;
      padding: 15px;
  }

  #code_APP {
      cursor: pointer;
      padding: 10px 15px;
      background-color: red;
      color: white;
      text-align: center;
      font-weight: bold;
  }