body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9f9f9;
}
a{
cursor: pointer;
}
button{
    cursor: pointer;
}
#main {
    width: 1170px;
    margin: 50px auto;
}

#footer {
    display: grid;
    grid-template-columns: 15% 12% 14% 14% 14% 29%;
}

#footer .col {
    font-size: 14px;
    color: #525151;
}

#footer .col .text {
    font-weight: 100;
    line-height: 1.7em;
    margin-top: 1%
}

#footer .col h4 {
    margin: 20px auto;
}

a {
    text-decoration: none;
    color: #525151;
    font-size: 15px;
    cursor: pointer;
}
.text a:hover {
   font-weight: bold;
}

#footer .col .input {
    width: 64%;
    height: 32px;
    border-radius: 5px;
    border: 1px solid #ddd7d7;
    outline: none;
}

.subcribe_btn {
    width: 27%;
    height: 36px;
    margin-top: -1%;
    background-color: #198b86;
    color: white;
    border-radius: 7px;
    font-weight: 600;
    font-size: 12px;
    margin-left: 8px;
    border: none;
}

.subcribe_btn:hover {
    background-color: #1ba59e;
}

.upper {
    margin-top: -2%
}

p {
    margin-top: -3%;
    line-height: 1.6em;
}

.fa {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 4px;
    font-size: 14px !important;
    line-height: 27px;
    width: 33px;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    border-radius: 10%;
}

#socialMedia div {
    display: flex;
  
    justify-content: space-between;
}

.col>div {
    font-size: 14px !important;
    line-height: 27px;
}