* {
    margin: 0;
    padding: 0;
}

a{
    cursor: pointer;
    }
    button{
        cursor: pointer;
    }
/*
#navbar {
    background-color: rgb(134, 118, 118);
    height: 173px;
}
*/

/* sliding images css start  */

#slide {
    /* background-color: rgb(139, 88, 97); */
    height: 363px;
    width: 100%;
    margin: auto;
    display: flex;
    position: relative;
}

#slide>div {
    width: 100%;
    height: 100%;
    display: none;
}

#slide>div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#left {
    font-size: 100px;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    border: 5px solid white;
    left: 3%;
    transform: translate(-50%, -50%) rotate(45deg);
    /* transform: rotate(45deg); */
    background-color: rgba(0, 0, 0, 0);
    border-right: none;
    border-top: none;
}

#right {
    font-size: 100px;
    height: 30px;
    position: absolute;
    width: 30px;
    top: 50%;
    right: 1%;
    border: 5px solid white;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: rgba(0, 0, 0, 0);
    border-left: none;
    border-bottom: none;
}

/* sliding image css ends here  */

/* features css starts here  */

#features {
    display: flex;
    height: 240px;
    width: 77%;
    margin: auto;
    justify-content: space-evenly;
}

#features>div {
    border: 0.5px solid rgb(153, 149, 149);
    justify-content: space-around;
    width: 25%;
    box-sizing: border-box;
    text-align: center;
    padding: 5px;
}

.box h3 {
    margin: 15px 0;
}

.box img {
    margin: 20px 0 0;
}

#category {
    width: 77%;
    margin: 40px auto;
}

#category div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 25px;
    align-items: center;
    cursor: pointer;
}

#category h1 {
    margin: 20px 0;
}

/* flash sale */

* {
    box-sizing: border-box;
}

/* #box_flash_sale {
    margin: 50px auto;
    width: 77%;
    height: 508px;
    box-shadow: 1px 1px 5px 1px gray;
    position: relative;
} */

.cont {
    margin: 50px auto;
    width: 77%;
    height: 508px;
    box-shadow: 1px 1px 5px 1px gray;
    position: relative;
}

.inner1_f {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red;*/
    font-size: 25px;
    font-weight: 700;
    margin: 0%;
    padding: 1% 3%;
    background-color: white;
}

.view_btn_f {
    color: white;
    background-color: #00AFAE;
    border-radius: 5px;
    border: none;
    padding-left: 1%;
    padding-right: 1%;
}

.inner2_f {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid  blue;*/
    background-color: #F8F8F8;
    padding: 1% 2%;
    column-gap: 14px;
}

.inner2_1_f {
    /* border: 1px solid black;*/
    background-color: white;
    width: 280px;
    height: 430px;
    border-radius: 5px;
    padding: 1%;
    display: none;
}

.inner2_1_f:hover {
    box-shadow: 3px 3px 5px 3px gray;
}

.inner2_1_1_f {
    /* border: 1px solid black;*/
    display: flex;
    justify-content: space-between;
    padding-right: 5%;
}

#inner2_1_3_1_fl {
    border: 1px solid red;
    color: red;
    padding: 1%;
    line-height: 40px;
}

.inner2_1_3_2_f {
    padding-top: 8%;
}

.inner2_1_3_4_f {
    display: flex;
    justify-content: space-between;
    padding: 4%;
}

.inner2_1_3_4_1_f {
    font-weight: 700;
    padding-top: 4%;
}

#inner2_1_3_4_2_f {
    padding: 4%;
    background-color: #BBDEFB;
    border: none;
}

#inner2_1_3_4_2_f:hover {
    background-color: #00AFAE;
    color: white;
}

.inner2_1_3_5_f {
    /* border: 1px solid black;*/
    background-color: #EAF8F8;
    display: flex;
    padding: 5%;
    margin-top: 10px;
}

.inner2_1_3_5_2_f {
    font-weight: 700;
    padding-left: 3%;
}

.main_img {
    /* border: 1px solid black;*/
    margin-left: 15%;
}

/* trending css start here  */

#trending {
    border: 2px solid red;
    display: flex;
    height: 300px;
    font-size: 3em;
    justify-content: space-around;
    position: relative;
}

#trending>div {
    border: 2px solid red;
    width: 22%;
    height: 100%;
    display: none;
}

.LEFTbtn {
    font-size: 100px;
    height: 25px;
    width: 25px;
    position: absolute;
    top: 50%;
    border: 5px solid #00AFAE;
    left: 1.5%;
    transform: translate(-50%, -50%) rotate(45deg);
    /* transform: rotate(45deg); */
    background-color: rgba(0, 0, 0, 0);
    border-right: none;
    border-top: none;
    display: none;
}

.RIGHTbtn {
    font-size: 100px;
    height: 25px;
    position: absolute;
    width: 25px;
    top: 50%;
    right: -.6%;
    border: 5px solid #00AFAE;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: rgba(0, 0, 0, 0);
    border-left: none;
    border-bottom: none;
}

/* popular in weights */

* {
    box-sizing: border-box;
}

.inner1_pop {
    /* border: 1px solid red;*/
    font-size: 25px;
    font-weight: 700;
    margin: 0%;
    padding: 1% 3%;
    background-color: white;
}

.inner2_pop {
    /*  border: 1px solid  blue;*/
    background-color: #F8F8F8;
    padding: 1% 2%;
}

.inner2_1_pop {
    display: flex;
    justify-content: space-between;
    /*  border: 1px solid black;*/
    background-color: white;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
}

.p_pop {
    font-weight: 700;
    /* border: 1px solid black;*/
}

.B_pop {
    border: 1px solid #BDBDBD;
    background-color: #BDBDBD;
    margin-top: 5%;
    margin-bottom: 5%;
}

.hide {
    display: none;
}

/* popular in sports */

/* popular in health */

.popular {
    margin: 50px auto;
    /*  border: 1px solid black;*/
    height: 249px;
    width: 77%;
    box-shadow: 1px 1px 5px 1px gray;
    position: relative;
}

.popularLeft {
    font-size: 100px;
    height: 25px;
    width: 25px;
    position: absolute;
    top: 50%;
    border: 5px solid #00AFAE;
    left: 1.5%;
    transform: translate(-50%, -50%) rotate(45deg);
    /* transform: rotate(45deg); */
    background-color: rgba(0, 0, 0, 0);
    border-right: none;
    border-top: none;
    display: none;
}

.popularRight {
    font-size: 100px;
    height: 25px;
    position: absolute;
    width: 25px;
    top: 50%;
    right: -0.6%;
    border: 5px solid #00AFAE;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: rgba(0, 0, 0, 0);
    border-left: none;
    border-bottom: none;
}

/*  TrueBasic part */

#truebasic {
    width: 100%;
    height: 277px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 6%;
    background-color: #f8f8f8;
}

#truebasic>div {
    width: 26%;
    display: flex;
    height: 170px;
}

#truebasic>div:nth-child(2) {
    width: 1px;
    height: 233px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: 0.5px solid #c4bdbd;
}

#truebasic>div>div {
    width: 60%;
}

#truebasic img {
    width: 37%;
    height: 77%;
    object-fit: contain;
}

#truebasic h4 {
    margin: 10px 0;
    font-size: 30px;
}

#truebasic p {
    margin: 10px 0;
}

#truebasic button {
    padding: 5px;
    background-color: #1A4F69;
    color: white;
    border-radius: 7px;
}

.block_div {
    border: 2px solid gray;
}

/* trueBasic part */


/*  star and cart css /// do not remove  //// */
.fa-star{
    color: #008497;
}
.fa-star-half-alt{
    color: #008497;
}
.add_to_cart_btn{
    color: #008497;
}
/*  star and cart css */