*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(247,247,247);
    width: 100%;
}
a{
    cursor: pointer;
    }
    button{
        cursor: pointer;
    }
#personalInfo {
    max-width: 1250px;
    height: 140px;
    box-shadow: 0 2px 10px rgb(66 71 75 / 10%);
    border: .5px solid #dde5ed;
    margin: auto;
    border-radius: 10px;
    background-color: white;
}

#persDetails {
    height: 110px;
    max-width: 1218px;
    margin: auto;
    margin-top: 23px;
    display: grid;
    grid-template-rows: 50% 50%;
}

#tit {
    font-weight: 700;
}

.profs {
    height: 100%;
    line-height: 24px;
    width: auto;
    text-align: center;
    margin-left: auto;
}

.had {
    margin-top: 0;
    color: gray;
}

#goalAdd {
    color: #3dd598;
    font-size: 18px;
    font-weight: 700;
}

.na {
    color: #c9c9c9;
    font-weight: 700;
    font-size: 18px;
}

#createProfile {
    width: 150px;
    height: 41px;
    background-color: #00c2c1;
    color: white;
    border-radius: 10px;
    text-align: center;
    line-height: 42px;
    margin-left: auto;
    cursor: pointer;
}

.verLine {
    height: 30px;
    width: 0.5px;
    background-color: gainsboro;
    margin: auto;
}

#persTop {
    display: flex;
    align-items: center;
}

#persBottom {
    margin-top: 23px;
}
#persBottom >span{
    padding-right: 30px;
}
#prosCont{
    max-width: 1170px;
    min-height: 528.05px;
    box-shadow: 0 2px 10px rgb(66 71 75 / 10%);
    border: .5px solid #dde5ed;
    margin: auto;
    border-radius: 5px;
    margin-top: 40px;
}
.personalize-widget{
    display: flex;
    height: 60px;
    align-items: center;
    padding-left:40px;
    justify-content: space-between;
    background-color: white;
}
.saletxt{
    font-size: 23px;
    font-weight: 500;
    color: #212121;
}
.viewAll{
    padding-right: 40px;
    color: #00bfbf;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}
.widgit-content-wrap{
   max-width: 1168px;
    min-height: 466.05px;
    margin: auto;
}
#home-widgit-carousel,#trending{
    max-width: 1118px;
    min-height: 436.05px;
    margin: auto;
    margin-top: 15px;
    display: flex;
    overflow-x: scroll;
    background-color: white;
}
 #home-widgit-carousel>div{
   width: 272px;
   height: 433px;
   border: .5px solid #dde5ed;
   margin-right: 10px;
   border-radius: 8px;
   background-color: rgb(255,255,255);
}
#trending>div{
   width: 272px;
   height: 433px;
   border: .5px solid #dde5ed;
   margin-right: 10px;
   border-radius: 8px;
   background-color: rgb(255,255,255);
}
#home-widgit-carousel>div:hover{
   box-shadow: 5px 2px 10px rgb(66 71 75 / 10%);
}
#trending>div:hover{
    box-shadow: 5px 2px 10px rgb(66 71 75 / 10%);
}
.contTip{
    width: 240px;
    height: 28.3px;
    margin: auto;
    display: flex;
    text-align: center;
}
#contMid{
    width: 240px;
    min-height: 160px;
    margin: auto;
    margin-top: 5px;
    
}
.logImg{
    width: fit-content;
   margin-left: auto;
   padding-right: 10px;
}
.middle{
    width: fit-content;
    margin: auto;
}
.rating{
    display: flex;
    width: auto;
    height: 14px;
    margin-top: 10px;
    margin-left: 10px;
    /*text-align: left;
   background-image: url(https://img3.hkrtcdn.com/react/static/media/common/misc/visible-star.svg);
   background-repeat: repeat-x;
    */
}
 .ratingIn{
    display: flex;
    height: 12px;
    width: fit-content;
    margin: auto;
    font-weight: 700;
 /*  background-image: url(https://img4.hkrtcdn.com/react/static/media/common/misc/blue-rate.svg);
   background-repeat: repeat-x;*/
} 
.addCart {
   padding: 8px;
   width: fit-content;
   cursor: pointer;
   color: #004b5d;
   border: none;
   background-color: rgb(225,237,244);
   margin-left: auto;
   margin-right: 10px;
   border-radius: 5px;
}

#priceCont{
   display: flex;
   align-items: center;
   margin-top: 10px;
   padding-left: 10px;
}
.price{
    width: fit-content;
    font-size: 16px;
    font-weight: 700;
    color: #25292b;
}

#marg{
    margin-top: 20px;
    text-align: center;
}
.hk-premium-price{
    width: 270px;
    height: 42px;
    margin: auto;
    margin-top: 10px;
    background-color:  rgba(187,234,232,.31);
    line-height: 42px;
}
.hk-premium-price >div{
        width: fit-content;    
         margin-left: 30px;
         font-weight: 700;
}
.shop-by-category{
    width: 100%;
    background-color: white;
    padding-bottom: 100px;
}
.top-cat-SBC{
    width: 1170px;
    height: 319px;
    margin: auto;
    margin-top: 50px;
}
.heading-SBC{
    font-size: 20px;
    font-weight: 600;
   line-height: 27px;
   color: #001545;
   text-align: center;
   height: 27px;
   align-items: center;
   
   padding-top: 40px;
}
.section-items-SBC{
     display: grid;
     grid-column-gap: 30px;
     grid-row-gap: 20px;
     grid-template-columns: 1fr 1fr 1fr;
     height: 266px;
     margin-top: 20px;
 }
 .section-items-SBC >div{
     width: 368px;
     height: 121px;
     border-radius: 5px;
     display: flex;
     align-items: center;
     cursor: pointer;
 }
 #essent{
     margin-top: 30px;
 }
 .backHeadings{
     width: fit-content;
     margin: auto;
     color: white;
     font-weight: 500;
     font-size: 18px;
 }
 .horLine{
     width: 30px;
     height: 2px;
     background-color: orange;
     margin: auto;
     margin-top: 5px;
 }
 .slider-Box{
position: relative;
overflow:hidden;
width: 100% !important;
}
#slider{
width: 100%;
display: inline-flex;
transition: 0.7s;
}
#slider img{
min-width: 100%;
}
.indicators{
position: absolute;
left: 50%;
bottom:20px;
transform: translateX(-50%);
}
.indicators span{
display: inline-block;
width: 12px;
height: 12px;
border-radius: 50%;
background: rgba(255,255,255,0.5);
cursor: pointer;
margin: 2px;

}
.active{
background: skyblue !important;
}
#header-Navbar{
    position: sticky;
    top: 0;
    z-index: 1;
    background: #fff;
}