* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    cursor: pointer;
}

button {
    cursor: pointer;
}

#navCont {
    display: flex;
    margin: auto;
    width: 1170px;
    height: 87.5px;
}

#logo {
    width: 197px;
    height: 49px;
    margin-top: 18px;
    cursor: pointer;
}

#search {
    width: 360px;
    border: none;
    margin-left: 10px;
    background-color: #f7f7f7;
}

.glass {
    margin-left: 10px;
    width: 20px;
}

#searchCont {
    display: flex;
    border: 1px solid gray;
    height: 37px;
    margin-top: 24px;
    border-radius: 3px;
    margin-left: 2.5%;
    background-color: #f7f7f7;
}

#headCart {
    display: flex;
    padding-left: 5px;
    width: auto;
    align-items: center;
    font-size: 14px;
}

#headCart>div {
    margin-left: 15px;
    cursor: pointer;
}

.ima {
    margin: 5px;
    margin-bottom: 5px;
}

#cart {
    width: 28px;
}

#belowNav {
    margin: auto;
    display: flex;
    width: 1170px;
    height: 51.3px;
}

#catag {
    align-items: center;
    display: flex;
    font-size: 14px;
    width: 798.3px;
    justify-content: space-between;
    padding-left: 15px;
}

#catag>div {
    cursor: pointer;
}

#catag>div:hover {
    color: #007aff;
}

#cataglast {
    margin-right: 60px;
}

#navCont>div>div:hover {
    color: #007aff;
}

#store {
    display: flex;
    margin-left: auto;
    align-items: center;
    width: 224px;
    font-weight: 600;
    justify-content: space-between;
    font-size: 14px;
    padding-right: 32px;
}

#store>div {
    padding: 5px;
    background: #e3e3e3;
    border-radius: 4px;
    cursor: pointer;
}

#myDIV {
    display: none;
}

#myDIV {
    background: #fff;
    border: 1px solid transparent;
    font-size: 12px;
    text-align: left;
    width: 160px;
    margin-top: 10px;
}

#myDIV p {
    padding: 10px;
    font-weight: lighter;
}

#myDIV>p:hover {
    color: #007aff;
}

#myDIV h1 {
    padding: 10px;
    font-weight: lighter;
}

.ic img {
    width: 18px;
}

#accounts {
    position: relative;
}

#dropTable {
    display: none;
}

#dropTable {
    right: 0;
    width: 323px;
    color: black;
    text-align: center;
    background-color: #fff;
}

#dropTable #sI, #lO {
    margin: auto;
    width: 296px;
    height: 50px;
    margin-top: 9px;
    margin-bottom: 9px;
    line-height: 55px;
    background: cadetblue;
    border-radius: 4px;
    color: white;
}

#dropTable #lO {
    background: none;
    color: black;
    border: 1px solid black;
}

#insideDrop {
    width: 296px;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 13px;
    grid-gap: 0;
}

#f1, #f2 {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 14px;
    line-height: 32px;
}

#f1>div:nth-child(1) {
    color: #009393;
}

#f2>div:nth-child(1) {
    color: #009393;
}

#f1>div:hover {
    color: #007aff;
}

#f2>div:hover {
    color: #007aff;
}

#catogBestSeller {
    position: absolute;
    width: 350px;
    height: 400px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 0;
}

#catogBestSeller {
    display: none;
}

#sellerCat1 {
    background: #f6f6f7;
}

#sellerCat1>div {
    line-height: 50px;
    padding-left: 20px;
}

#forSport, #forhealth {
    background-color: lightcyan;
    padding: 20px;
    line-height: 30px;
}

#sNutri:hover {
    background-color: white;
}

#hNutri:hover {
    background-color: white;
}

#gend-DroDwn {
    display: none;
}

#gend-DroDwn {
    width: 265px;
    height: 176px;
    position: absolute;
    background-color: #fff;
}

#gen_content {
    width: 219px;
    height: 145px;
    margin: auto;
    margin-top: 15px;
}

.gender_text {
    color: #1d1d1d;
    font-size: 18px;
    margin-bottom: 15px;
}

#cat_menWomen {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-gap: 20px;
}

#cat_menWomen>div {
    width: 100px;
    height: 107px;
    border: 0.5px solid gray;
    text-align: center;
    line-height: 30px;
    border-radius: 4px;
}

#div_cat_Men:hover {
    border: 1px solid blue;
    color: blueviolet;
}

#div_cat_Women:hover {
    border: 1px solid blue;
    color: blueviolet;
}

#hk {
    background-color: #d8faf9 !important;
}

#hk:hover {
    background-color: rgb(60, 187, 238) !important;
}