*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#page_container{
    width: 1170px;
    margin: auto;
    display: grid;
    grid-template-columns: 21% 79%;
    grid-gap:30px;
    margin-top: 30px;
}
a{
    cursor: pointer;
    }
    button{
        cursor: pointer;
    }

#sort_funcs{
    display: inline-block;
    vertical-align: top;
    height: 300px;
    border: 2px solid #f6f6f7;
    overflow-y: scroll;
}
#products_Cont{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap:2%;
}
#products_Cont>div{
    width: 270px;
}
#products_Cont>div:hover{
    box-shadow: 0 3px 26px rgb(0 0 0 / 16%);
    transition: 0.2s;
}
.discount{
 background: #e35a5a;
 border-radius: 2px;
 font-size: 12px;
 font-weight: 500;
 line-height: 23px;
 text-align: center;
 color: #fff;
 top: 0;
 width: 52px;
}
.img_Cont{
   width: fit-content;
   margin: auto;
}
.rating_text{
   margin-left: 5px;
   margin-top: 5px;
   margin-bottom: 10px;
}
.quick_btn{
   margin-left: auto;
   margin-right: 5px;
   color:#008497;
   border:0.5px solid #008497;
   background-color: transparent;
   padding: 8px;
   border-radius: 4px;
   cursor: pointer;
}
.price_Pro{
font-size: 20px;
font-weight: 700;
line-height: 1.19;
letter-spacing: normal;
text-align: left;
color: #212121;
margin-right: 5px;
}
.block{
   display: inline-block;
   color: #212121;
}
#sorts{
  display: inline-block;
   margin-bottom: 50px;
}
#header-Navbar{
    position: sticky;
  top: 0;
  background-color: #fff;
}
#cont_Page{
    width: 1170px;
    font-size: 14px;
    margin: auto;
    color: gray;
}
#cont_Page p{
   margin:15px 0 15px 0;
}
#top_Page{
    display: grid;
    grid-template-columns: 21% 79%;
    grid-gap: 35px;
    width: 1170px;
    margin: auto;
}
#image_Head{
    width: 895px;
    height: 186px;
}
#image_Head img{
    width: 100%;
    border-radius: 5px;
}
#top_Page h1{
    font-weight:500;
    font-size: 30px;
    text-align: center;
    margin-top: 120px;
    color: #1a1a1a;
}
#sort_By_Price>div
{
   line-height: 40px;
   margin: auto;
   width: 80%;
}
#gola{
    background-color: #fff;
    border: 1px solid #929495;
    border-radius: 50%;
    display: inline-block;
    content: " ";
    width: 12px;
    height: 12px;
}
#main{
    padding-top: 100px;
}