* {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: #212121;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    cursor: pointer;
}

button {
    cursor: pointer;
}

#loginpopup, #backimg, #box {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999999999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#backimg, #box {
    background: rgba(0, 0, 0, .7);
    position: absolute;
}

#scale {
    width: 100%;
    height: 100%;
}

#box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 700px;
    height: 550px;
    background: #fff;
    border-radius: 4px solid rgb(255, 255, 255);
    overflow: hidden;
    display: flex;
}

#left {
    width: 312px;
    height: 100%;
    display: flex;
}

#leftimg {
    background-image: url("https://static1.hkrtcdn.com/hknext/static/media/signupFlow/login-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: unset;
    position: relative;
    width: 100%;
    padding: 25.2px 14px 35px 32px;
}

#leftimg>h4 {
    font-family: Source Sans Pro, sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 40px;
    color: #fff;
    margin: 0 0 20px;
}

#desc {
    display: flex;
    position: relative;
}

#desc>img {
    height: 16px;
    width: 16px;
    position: absolute;
    top: 2px;
    left: 0;
    border-style: none;
}

#desc>div {
    margin-left: 28px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: .16px;
    line-height: 21px;
    color: #fff;
    margin-bottom: 18px;
}

#right {
    overflow-y: hidden;
    width: 388px;
    border-radius: 0;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: inline-block;
    height: 100%;
    overflow-x: hidden;
}

#login {
    height: 100%;
    position: relative;
}

#login>div:nth-child(1) {
    left: 0;
    padding-left: 32px;
    padding-right: 31px;
    padding-top: 25px;
}

#login2>img {
    width: 20px;
    height: 20px;
    border: 0;
    top: 17px;
    right: 16px;
    z-index: 99;
    width: 20px;
    height: 20px;
    position: absolute;
    font-weight: 100;
    cursor: pointer;
}

#login2>ul {
    border-bottom: 3px solid #f4f4f4;
    list-style: none;
    margin: 0 0 30px;
    padding: 0;
    display: block;
}

#login2>ul>li {
    display: inline-block;
    width: inherit;
    font-size: 16px;
    color: #666670;
    cursor: pointer;
    padding: 10px 29px;
    line-height: 21px;
    position: relative;
    letter-spacing: .32px;
    font-weight: 500;
}

#errortext>p {
    text-transform: none;
    font-size: 11px;
    line-height: 15px;
    font-weight: 400;
    margin-top: 4px;
    letter-spacing: .11px;
    color: #da1e28;
    margin-bottom: 5px;
}

#parent {
    position: relative;
    height: auto;
    width: 100%;
    padding: 0 0 24px;
}

#parent>div {
    font-size: 14px;
    line-height: 19px;
    color: #393939;
    margin-bottom: 10px;
}

#relative {
    position: relative;
}

#relative>input {
    z-index: 88;
    width: 100%;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: .16px;
    border: 1px solid #c6c6c6;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
    height: 40px;
    padding-left: 12px;
    color: #393939;
    background: #fff;
    -moz-transition: all .1s ease;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
    overflow: visible;
}

#parentfield {
    width: 100%;
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    position: relative;
}

#submit {
    color: #fff;
    padding: 0;
    height: 40px;
    border-radius: 4px;
    background-color: #00aeae;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 40px;
    -webkit-appearance: none;
    text-transform: uppercase;
    letter-spacing: .32px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

#or {
    margin: 24px auto 16px;
    text-align: center;
    position: relative;
}

#or>span {
    margin: 24px auto 16px;
    text-align: center;
    position: relative;
    font-weight: 400;
    color: #161616;
    font-size: 14px;
    line-height: 19px;
    padding: 0 14px;
    background-color: #fff;
    position: relative;
    z-index: 2;
}

#or>div {
    position: absolute;
    border-bottom: 1px solid #cdcfd2;
    width: 100%;
    height: 2px;
    bottom: 9px;
}

#google>div {
    border-radius: 4px;
    cursor: pointer;
    display: -moz-box;
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    padding: 12px 0;
    border: 1px solid #e0e0e0;
}

#google>div>span {
    font-size: 14px;
    letter-spacing: .28px;
    color: #525252;
    margin-left: 8px;
}

#bottom {
    position: absolute;
    bottom: 0;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}

#bottom>p {
    padding-top: 14px;
    border-top: 1px solid #c6c6c6;
    font-size: 12px;
    text-align: center;
    color: #666;
    line-height: 16px;
    display: inline-block;
    width: 100%;
    position: relative;
    content: "";
    margin-top: 24px;
    margin-bottom: 12px;
}

#bottom>p>a {
    color: #0043ce;
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
    background-color: transparent;
}